#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [10]:
import pandas as pd

In [11]:
from datetime import datetime as dt

# a

In [3]:
dt.now().strftime('%d %m %Y %I:%M:%S %p')

'04 12 2019 12:10:20 PM'

# b

In [4]:
dt.now().strftime('%Y')

'2019'

# c

In [5]:
dt.now().strftime('%B')

'December'

# d

In [6]:
dt.now().strftime('%V')

'49'

# e

In [7]:
dt.now().strftime('%A')

'Wednesday'

# f

In [80]:
d = dt.now()
D = pd.Series(d)
Day_of_year = D.dt.dayofyear
Day_of_year

0    338
dtype: int64

# g

In [25]:
D = dt.now().strftime('%d %m %Y')
Days_in_months = pd.Period(D)
Days_in_months.days_in_month

30

# h

In [26]:
dt.now().weekday()

2

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [65]:
Date = 'Jan 1 2014 2:43PM'

In [68]:
D1 = pd.Timestamp.strptime(Date , '%b %d %Y %I:%M%p')

In [71]:
D2 = D1 + pd.DateOffset(months = 6, day = 1)

In [72]:
D2

Timestamp('2014-07-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [75]:
Date1 = '2015-06-22'

In [77]:
Date1 = pd.Timestamp.strptime(Date1 , '%Y-%m-%d')

In [80]:
Date2 = Date1 + pd.DateOffset(days = -5)

In [81]:
Date2

Timestamp('2015-06-17 00:00:00')

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [88]:
'1284105682'

In [93]:
dt.fromtimestamp(int('1284105682')).strftime('%Y-%d-%m %H:%M:%S')

'2010-10-09 13:31:22'

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [88]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

In [89]:
DOB = pd.to_datetime(DoB)

In [92]:
DATE = DOB + pd.DateOffset(years = -100)
DATE

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [106]:
a = dt(2018,6,21)

In [107]:
b = dt(2018,5,16)

In [108]:
c = a - b

In [109]:
c

datetime.timedelta(days=36)

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [27]:
Date = "15Dec1989"

In [28]:
D5 = pd.Timestamp.strptime(Date, '%d%b%Y')

In [29]:
D5

Timestamp('1989-12-15 00:00:00')

In [30]:
D6 = D5 + pd.DateOffset(years = 9)

In [31]:
D6

Timestamp('1998-12-15 00:00:00')

In [32]:
Result = dt.strftime(D6, '%A %d %b %y')

In [33]:
Result

'Tuesday 15 Dec 98'